.commo__section{
    background: linear-gradient(rgba(0,0,0,0.562), rgba(0,0,0,0.562)), url(../assets/images/bedroom.jpg) no-repeat center center;
    background-size: cover;
    height: 300px;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.commo__section h1{
    color: #fff;
    font-weight: 600;
}

@media only screen and  (max-width: 768px) {
    .commo__section{
        padding: 70px 0px;

    }

    .commo__section h1 {
        font-size: 1.4rem;
    }
}